.app-btn {
  border-radius: 8px;
  padding: 10px 20px;
  transition: all 300ms ease-in-out;
  border: none;
}

.app-btn-primary {
  background-color: theme('colors.blue.950');
  color: theme('colors.slate.200');
  &:hover {
    background-color: theme('colors.blue.900');
  }
}

.courses-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}