@import "base";
@import "main";
@import "table";
@import "spinner";
@import "mixins";

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    position: absolute;
    width: 100%;
    top: 68px;
    height: calc(100% - 68px);
    background-color: theme('colors.slate.400');
    overflow-y: auto;
}